


h1 {
    font-size: 3.5rem;
    font-family: Merriweather, Ubuntu, sans-serif;

    color: rgb(157, 178, 191);
}   

h2 {
    font-size: 2rem;
    font-family: Merriweather, Ubuntu, sans-serif;

    color: rgb(124, 141, 151);
}   


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: auto;

    background-color: rgb(82, 109, 130);

    div.project-text {
        padding: 15px;
        padding-left: 50px;

        font-size: 2rem;
        font-family: "Open Sans", sans-serif;

        color: rgb(221, 230, 237);
    }
}

body {
    top: 0;
    left: 0;
    right: 0;

    padding-top: 50px;

    background-color: rgb(39, 55, 77);

    section.main-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    div.row-one, div.row-two {

        padding-bottom: 150px;
        
        display: flex;

        div.one-right {
            align-items: center;

            margin-top: auto;
            margin-bottom: auto;

            padding-left: 50px;
            padding-right: 50px;
        }

        img.one-left-img {
            max-width: 70vw;
            max-height: auto;

            width: 70vw;
            height: auto;

        }
    }

    div.row-two {
        gap: 100px;

        div.two-right {

            padding-left: 50px;
            padding-right: 50px;

        }

        img.two-right-img {
            max-width: 30vw;
            max-height: auto;

            width: 30vw;
            height: auto;

        }
    }

}

.text-1 {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    
    color: rgb(221, 230, 237);
}   

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 5px solid black;
}